<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Settings"
             type="Archiver.Client.Config.SettingsSection, Archiver"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <Settings>
    <ConfigStrings>
      <add Name="SquidEyes"
           ConnString="TBD" />
      <add Name="Microsoft"
           ConnString="TBD" />
    </ConfigStrings>
  </Settings>
</configuration>
