<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Settings"
             type="Archiver.Client.Config.SettingsSection, Archiver"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Archiver.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <Settings>
    <ConnStrings>
      <add Name="SquidEyes"
           ConnString="TBD" />
      <add Name="Microsoft"
           ConnString="TBD" />
    </ConnStrings>
  </Settings>
  <userSettings>
    <Archiver.Client.Properties.Settings>
      <setting name="LastAccount" serializeAs="String">
        <value />
      </setting>
    </Archiver.Client.Properties.Settings>
  </userSettings>
</configuration>
